{% extends 'base.html' %}
{% load static %}

{% block main %}
        <!-- Open Content -->
    <section class="bg-light">
        <div class="container pb-5">
            <div class="row">
                <div class="col-lg-5 mt-5">
                    <div class="card mb-3">
                        <img class="card-img img-fluid" src="{{ product.image.url }}" alt="Card image cap" id="product-detail" width="75%">
                    </div>
                    <div class="row">
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="prev">
                                <i class="text-dark fas fa-chevron-left"></i>
                                <span class="sr-only">Previous</span>
                            </a>
                        </div>
                        <!--End Controls-->
                        <!--Start Carousel Wrapper-->
                        <div id="multi-item-example" class="col-10 carousel slide carousel-multi-item" data-bs-ride="carousel">
                            <!--Start Slides-->
                            <div class="carousel-inner product-links-wap" role="listbox">

                                <!--First slide-->
                                <div class="carousel-item active">
                                    <div class="row">
                                        {% for productimage in product.productimage_set.all %}
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ productimage.image.url }}" alt="Product Image 1">
                                            </a>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                <!--/.First slide-->

                                <!--Second slide-->
                                <div class="carousel-item">
                                    <div class="row">

                                       {% for productimage in product.productimage_set.all %}
                                        <div class="col-4">
                                            <a href="#">
                                                <img class="card-img img-fluid" src="{{ productimage.image.url }}" alt="Product Image 1">
                                            </a>
                                        </div>
                                        {% endfor %}

                                    </div>
                                </div>
                                <!--/.Second slide-->

                            </div>
                            <!--End Slides-->
                        </div>
                        <!--End Carousel Wrapper-->
                        <!--Start Controls-->
                        <div class="col-1 align-self-center">
                            <a href="#multi-item-example" role="button" data-bs-slide="next">
                                <i class="text-dark fas fa-chevron-right"></i>
                                <span class="sr-only">Next</span>
                            </a>
                        </div>
                        <!--End Controls-->
                    </div>
                </div>
                <!-- col end -->
                <div class="col-lg-7 mt-5">
                    <div class="card">
                        <div class="card-body">
                            <h1 class="h2">{{ product.name }}</h1>
                            <p class="h3 py-2">${{ product.price }}</p>
                            <p class="py-2">
                                <span class="list-inline-item text-dark"> 36 Comments</span>
                            </p>
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <h6>Brand:</h6>
                                </li>
                                <li class="list-inline-item">
                                    <p class="text-muted"><strong>{{ product.brand.name }}</strong></p>
                                </li>
                            </ul>

                            <h6>Description:</h6>
                            <p>{{ product.description|linebreaks }}</p>

                            <h6>Specification:</h6>
                            <ul class="list-unstyled pb-3">
                                <li>{{ product.specification|linebreaks }}</li>
                            </ul>

                            <form action="" method="GET">
                                <input type="hidden" name="product-title" value="Activewear">
                                <div class="row" style="margin-top: 128px">
                                    <div class="col-auto">
                                        <ul class="list-inline pb-3">
                                            <li class="list-inline-item">Size :
                                                <input type="hidden" name="product-size" id="product-size" value="S">
                                            </li>
                                            <li class="list-inline-item"><span class="btn btn-success btn-size">{{ product.size.name }}</span></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="row pb-3">
                                    <div class="col d-grid">
                                        <a href="{% url 'to_cart' product.id 'add' %}" type="submit" class="btn btn-success btn-lg" value="addtocard">Add To Cart</a>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock main %}

