{% load static %}
    <script src="{% static 'assets/js/jquery-1.11.0.min.js'%}"></script>
    <script src="{% static 'assets/js/jquery-migrate-1.2.1.min.js'%}"></script>
    <script src="{% static 'assets/js/bootstrap.bundle.min.js'%}"></script>
    <script src="{% static 'assets/js/templatemo.js'%}"></script>
    <script src="{% static 'assets/js/custom.js'%}"></script>



<!-- MDB -->
<script
  type="text/javascript"
  src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/7.2.0/mdb.umd.min.js"
></script>

